:root {
    --background-color: #f8fcff;
    --element-bg-color: rgb(233, 233, 233);

    /* For buttons etc */
    --primary-color: slateblue; 
    --primary-disabled: rgba(105, 90, 205, 0.5);
    --button-green: darkolivegreen;
    --danger: darkred;
}

header {
    --background-color: rgb(95, 2, 2);
    --text-color: whitesmoke;
}

