#game-container {
    background: rgb(233, 233, 233);
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

#right-container {
    /* For this element */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    /* for parent flex */
    flex-grow: 1;   
    flex-basis: 25%;

    box-sizing: border-box;
    min-width: 400px;
    margin: 0;
    margin-left: 0;
    border: 0px solid slategrey;
    /* border-radius: 5px; */
}