

#topbar {
    min-width: 60%;
    max-width: 1200px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 0 auto;
    padding: 0 2em;
}

#navbar {
    margin-inline-start: auto;
}

.top-bar-link {
    display: inline-block;
    font-size: calc(16px + 0.3vw);
    font-weight: 700;
    padding: 0.5em 1em;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

#hamburger-button {
    display: none;
}

/* hide the links if the viewports width is too small */
@media (max-width: 768px){
    #navbar .top-bar-link {
        display: none;
    }

    #hamburger-button {
        display: inline-block;
    }
}

.top-bar-link:hover {
    background-color: rgba(169, 169, 169, 0.315);
}