<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Boomer Dog</title>

    <link rel="stylesheet" href="topbar.css"> 
    <link rel="stylesheet" href="../../css/main.css">
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <header>
        <div id="topbar">
            <button id='title' class='top-bar-link'>Boomer Dog</button>
          <div id="navbar">
            <button class='top-bar-link'>Home</button>
            <button class='top-bar-link'>About</button>
            <button class='top-bar-link'>Menu</button>
            <button class='top-bar-link'>Player</button>
          </div>
        <img src="../../assets/hamburger.svg" class="menu-btn" id="open-menu">
        </div>
      </header>
  </body>
</html>
