#topbar {
    min-width: 60%;
    display: flex;
    text-align: left;
    align-items: center;
    margin: 10px auto;
    max-width: 1200px;
    color: whitesmoke;
}

.top-bar-link {
    display: inline-block;
    font-size: large;
    font-weight: 700;
    font-family: inherit;
    color: inherit;
    background: inherit;
    border: 0;
    padding: 10px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.top-bar-link:hover {
    background-color: rgba(169, 169, 169, 0.315);
}