.menu-container {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 4px;
    box-sizing: border-box;
    background: rgb(233, 233, 233);
    text-align: left;
}

#menu-flex-container {
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#game-viewer {
    padding: 8px;
    margin: 0px 8px;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    flex-basis: 40%;
    box-sizing: border-box;
    background: white;
    min-width: 390px;
}

#global-chat-container {
    height: 100%;
    margin: 0px 8px;
    padding: 8px;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    flex-basis: 40%;
    box-sizing: border-box;
    background: white;
    min-width: 300px;
}

#global-chat-editor {
    padding-bottom: 8px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 16px);
}

#global-message-box {
    max-height: calc(100% - 108px);
}

table {
    border-collapse: collapse;
    width: 100%;
  }

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: whitesmoke;
}

.selected-row {
    background-color: lightgoldenrodyellow;
}

.joined-row {
    background-color: lightskyblue;
}

#game-list-table tbody tr:hover:not(.joined-row){
    background-color: lightgrey;
}

.error {
    color: red;
}
