body {
    background-color: #f8fcff;
}

header {
    width: 100%;
    display: flex;
    background-color: rgb(95, 2, 2);
    box-shadow: 0px 11px 50px -5px grey;
    border-bottom: 3px solid grey;
    margin-bottom: 10px;
    align-items: center;
}

#title {
    font-size: 36px;
    margin: 6px 0;
}

.topbar {
    min-width: 60%;
    display: flex;
    text-align: left;
    align-items: center;
    margin: 10px auto;
    max-width: 1200px;
    color: whitesmoke;
}

.top-bar-link {
    display: inline-block;
    font-size: large;
    font-weight: 700;
    font-family: inherit;
    color: inherit;
    background: inherit;
    border: 0;
    padding: 10px 10px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.top-bar-link:hover {
    background-color: rgba(169, 169, 169, 0.315);
}

.error {
    color: red;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container {
    background-color: white;
    padding: 20px;
}

.title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 0px;
}

.subtitle {
    font-size: 16px;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-2 {
    margin-right: 20px;
}

.ml-2 {
    margin-left: 20px;
}

.mr-1 {
    margin-right: 10px;
}

.ml-1 {
    margin-left: 10px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mt-1 {
    margin-top: 10px;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrap-text{
    display: flex;
    word-wrap: break-word;
}

.game-container {
    background: rgb(233, 233, 233);
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

#left-game-container {
    display: inline-block;
    flex-grow: 1;
    flex-basis: 50%;
    box-sizing: border-box;
}

.right-container {
    /* For this element */
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    /* for parent flex */
    flex-grow: 1;   
    flex-basis: 25%;

    box-sizing: border-box;
    min-width: 400px;
    margin: 0;
    margin-left: 0;
    border: 0px solid slategrey;
    /* border-radius: 5px; */
}

.svg-container {
    width: 100%;
    padding-bottom: 100%;
    display: inline-block;
    position: relative;
    min-width: 400px;
    height: 0;
    vertical-align: top;
    /* overflow: hidden; */
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.component-title {
    margin: 5px;
}

button {
    font-weight: 450;
    color:white;
    background-color: slateblue;
    cursor: pointer;
    box-sizing: border-box;
    padding: 6px 20px;
    border: 2px solid transparent;
    border-radius: 3px;
}

button:hover:not(:disabled) {
    border: 2px solid lightgrey;
}

button:disabled {
    cursor: default;
    background-color:rgba(105, 90, 205, 0.425);
    color: lightgrey;
}


/* 
.button:disabled:hover {
    border: 2px solid transparent;
} */


button.close {
    width: 28px;
    height: 28px;
    z-index: 1500;
    color: grey;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    padding: 0;
    border:0;
    background: transparent;
    position: absolute;
    top: 5px;
    right: 10px;
    float: none;
    display: inline-block
}

button.close:hover {
    color: #000;
    cursor: pointer;
    background-color: lightgrey;
}

button.danger {
    color: white;
    background-color: darkred;
}

button.green {
    color: white;
    background-color: darkolivegreen
}

.white {
    color: white;
}