.card {
    position: relative;
    top: 0;
    box-sizing: border-box;
    display: inline-block;
    margin-right: -35px;
    width: 90px;
    height: 150px;
    border-radius: 10px;
    background: whitesmoke;
    border: 3px solid black;
}

.card-selected {
    top: 25px;
    border: 3px solid grey;
    z-index: 99;
}

.card-highlighted {
    top: 25px;
    background: lightgrey;
}

.card:hover {
    top: 10px;
    z-index: 100;
}

.card-selected:hover {
    top:25px;
}

.card-value {
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 3px;
}

.card-color {
    font-size: 40px;
    position: absolute;
    top: 45px;
    left: 25px;
}

.card-black {
    color: black
}

.card-red {
    color: rgb(211, 10, 10)
}

svg .card {
    color: green;
}