/* default is 4 players for 6 player styles see below */
.player-box {
    width: 11%;
    height: 15%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10000;
}

.player-box.top-left {
    align-items: flex-start; /* text left aligned */
    top: 3%;
    left: 3%;
}

.player-box.top-right {
    align-items: flex-end; /* text right aligned */
    top: 3%;
    right: 3%;
}

.player-box.bottom-left {
    align-items: flex-start; /* text left aligned */
    flex-direction: column-reverse;
    bottom: 3%;
    left: 3%;
}

.player-box.bottom-right {
    align-items: flex-end; /* text right aligned */
    flex-direction: column-reverse;
    bottom: 3%;
    right: 3%;
}

.player-box .player-name {
    padding: 3px 10px;
    margin: 0px;
    background: whitesmoke;
}

.player-name.active {
    border: 4px solid yellowgreen;
}

#me.player-name {
    background-color: lightskyblue
}

.avatar {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid black;
    pointer-events: none;
}

.avatar.active {
    border: 6px solid rgb(98, 255, 234);
}

/* 6 player css */

.svg-container-6 .player-box.center-left {
    align-items: flex-end;
    flex-direction: column-reverse;
    top: 42.5%;
    left: 3%;
}

.svg-container-6 .player-box.center-right {
    align-items: flex-start;
    top: 42.5%;
    right: 3%;
}