.player-box {
    width: 10%;
    height: 12%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10000;
}

.player-box.top-left {
    align-items: flex-start; /* text left aligned */
    top: 3%;
    left: 3%;
}

.player-box.top-right {
    align-items: flex-end; /* text right aligned */
    top: 3%;
    right: 3%;
}

.player-box.bottom-left {
    align-items: flex-start; /* text left aligned */
    flex-direction: column-reverse;
    bottom: 3%;
    left: 3%;
}

.player-box.bottom-right {
    align-items: flex-end; /* text right aligned */
    flex-direction: column-reverse;
    bottom: 3%;
    right: 3%;
}

.player-name {
    padding: 3px 10px;
    margin: 0px;
    background: whitesmoke;
}

.player-name.active {
    border: 4px solid yellowgreen;
}

#me.player-name {
    background-color: lightskyblue
}

.avatar {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid black;
    pointer-events: none;
}

.avatar.active {
    border: 6px solid seagreen;
}