#board-container {
    display: inline-block;
    flex-grow: 1;
    flex-basis: 50%;
    box-sizing: border-box;
}

#board {
    /* background-image: url(wood_background.png); */
    background-image: url(plywood-background.png);
    background-size: 100%;
    border: 2px solid black;
    box-shadow: yellow;
    /* border-radius: 8px; */
}

.svg-container {
    width: 100%;
    padding-bottom: 100%;
    display: inline-block;
    position: relative;
    min-width: 500px;
    height: 0;
    vertical-align: top;
    /* overflow: hidden; */
}

.svg-container-6 {
    padding-bottom: 120%;
    width: 100%;
    display: inline-block;
    position: relative;
    min-width: 400px;
    height: 0;
    vertical-align: top;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.tooltip {
    position: absolute;
    z-index: 1100;
    display: block;
    margin: 0;
    opacity: 1;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 4px;
    padding-right: 30px;
}

.tooltip-text {
    font-size: small;
    margin: 0;
    margin-left: 2px;
    margin-bottom: 2px;
    padding: 0;
}

#close-tooltip {
    top: 0px;
    right: 0px;
}

.movebutton {
    padding: 0;
    margin: 1px 2px;
    width:100%;
    max-width: 30px;
    max-height: 30px;
}

.tt-not-visible {
    opacity: 0;
}

.player-name {
    font-size: 20px;
    pointer-events: none;
}

.player-box {
    stroke: grey;
    stroke-width: 2px;
    fill: white;
    fill-opacity: 0.5;
}

.player-box.active {
    fill: forestgreen;
    fill-opacity: 0.3;
    font-size: 15px;
}

.step {
    stroke: black;
    stroke-width: 3px;
    fill-opacity: 0;
}

.step:hover {
    stroke-width: 5px;
    cursor: pointer;
}

.occupied {
    fill-opacity: 1;
}

.occupied-red, .occupied-0{
    stroke: black;
    fill:red;
}

.occupied-yellow, .occupied-1 {
    stroke: black;
    fill: yellow; 
}

.occupied-green, .occupied-3{
    stroke: black;
    fill: green;
}

.occupied-blue, .occupied-4{
    stroke: black;
    fill:blue;
}

.out {
    fill: none;
    stroke-width: 4px;
}

.out-red, .out-0{
    stroke: red;
}

.out-blue, .out-3 {
    stroke: blue;
}

.out-green, .out-2{
    stroke: green;
}

.out-yellow, .out-1{
    stroke: yellow;
}

.out-4 {
    stroke: purple
}

.out-5 {
    stroke: orange
}

.card-number {
    font-size: 40px;
}

.card-path {
    stroke: black;
    stroke-width: 3px;
    fill: whitesmoke;
}