#board-container {
  display: inline-block;
  flex-grow: 1;
  flex-basis: 50%;

  .svg-container {
    width: 100%;
    padding-bottom: 100%;
    display: inline-block;
    position: relative;
    height: 0;
    vertical-align: top;

    .svg-content-responsive {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .tooltip {
    position: absolute;
    z-index: 1100;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    opacity: 1;
    background-color: white;
    border: 1px solid grey;
    padding: 0.5rem;

    .tooltip-text {
      margin-right: 1.5rem;
    }

    #tooltip-options {
      display: flex;
    }

    #close-tooltip {
      position: absolute;
      width: 1rem;
      height: 1rem;

      #close-tooltip-icon {
        width: 80%;
        height: 80%;
        position: absolute;
        top: 10%;
        right: 10%;
      }
    }

    .movebutton {
      margin: 0.1em;
      padding: 0 0.5em;
      width: 100%;
    }

    &.tt-not-visible {
      opacity: 0;
    }
  }

  .step {
    stroke: black;
    stroke-width: 3px;
    fill-opacity: 0;
    &:hover {
      stroke-width: 5px;
    }
  }

  .marble {
    stroke: black;
    stroke-width: 2px;

    &:hover {
      stroke-width: 5px;
      cursor: pointer;
    }

    &.selected {
      stroke: whitesmoke;
      &:hover {
        stroke-width: 5px;
        cursor: pointer;
      }
    }

    &.marble-0 {
      fill: $color-0;
    }

    &.marble-1 {
      fill: $color-1;
    }

    &.marble-2 {
      fill: $color-2;
    }
    &.marble-3 {
      fill: $color-3;
    }
    &.marble-5 {
      fill: $color-4;
    }
    &.marble-6 {
      fill: $color-5;
    }
  }

  .out {
    fill: none;
    stroke-width: 4px;

    &.out-0 {
      stroke: $color-0;
    }

    &.out-1 {
      stroke: $color-1;
    }

    &.out-2 {
      stroke:$color-2;
    }

    &.out-3 {
      stroke: $color-3;
    }

    &.out-4 {
      stroke: $color-4;
    }

    &.out-5 {
      stroke: $color-5;
    }
  }

  #board {
    background-image: url("img/plywood-background.png");
    background-size: 120%;
  }
}
