#board-container {
  display: inline-block;
  flex-grow: 1;
  flex-basis: 50%;

  .svg-container {
    width: 100%;
    padding-bottom: 100%;
    display: inline-block;
    position: relative;
    height: 0;
    vertical-align: top;
  }

  .svg-container-6 {
    padding-bottom: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    min-width: 400px;
    height: 0;
    vertical-align: top;
  }

  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .tooltip {
    position: absolute;
    z-index: 1100;
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    opacity: 1;
    background-color: white;
    border: 1px solid grey;
    padding: 0.5rem;

    .tooltip-text {
      margin-right: 1.5rem;
    }

    #tooltip-options {
      display: flex;
    }

    #close-tooltip {
      position: absolute;
      width: 1rem;
      height: 1rem;

      #close-tooltip-icon {
        width: 80%;
        height: 80%;
        position: absolute;
        top: 10%;
        right: 10%;
      }
    }

    .movebutton {
      margin: 0.1em;
      padding: 0 0.5em;
      width: 100%;
    }

    &.tt-not-visible {
      opacity: 0;
    }
  }

  .step {
    stroke: black;
    stroke-width: 3px;
    fill-opacity: 0;
    &:hover {
      stroke-width: 5px;
      cursor: pointer;
    }

    &.selected {
      stroke: whitesmoke;

      &:hover {
        cursor: pointer;
        stroke-width: 3px;
      }
    }
  }

  .occupied {
    fill-opacity: 1;
  }

  .occupied-red,
  .occupied-0 {
    stroke: black;
    fill: red;
  }

  .occupied-yellow,
  .occupied-1 {
    stroke: black;
    fill: yellow;
  }

  .occupied-green,
  .occupied-3 {
    stroke: black;
    fill: green;
  }

  .occupied-blue,
  .occupied-4 {
    stroke: black;
    fill: blue;
  }

  .out {
    fill: none;
    stroke-width: 4px;
  }

  .out-red,
  .out-0 {
    stroke: red;
  }

  .out-blue,
  .out-3 {
    stroke: blue;
  }

  .out-green,
  .out-2 {
    stroke: green;
  }

  .out-yellow,
  .out-1 {
    stroke: yellow;
  }

  .out-4 {
    stroke: purple;
  }

  .out-5 {
    stroke: orange;
  }

  #board {
    background-image: url("img/plywood-background.png");
    background-size: 120%;
  }
}

.avatar {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  border: 3px solid black;
  pointer-events: none;
}

.avatar.active {
  border: 6px solid salmon;
}
