.chat-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .msg-box {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;

    .msg {
      padding: .5em;
      background-color: rgb(250, 220, 209);

      &.msg-user {
        background-color: rgb(204, 222, 247);
      }

      &.msg-server {
        background-color: rgb(252, 247, 227);
      }

      .msg-label {
        display: flex;
        justify-content: space-between;
      }
    }

    .msg-time {
      font-size: 0.8em;
      margin-left: auto;
    }
  }

  .text-box {
    width: 100%;
    resize: none;
    box-sizing: border-box;
  }
}
