#menu-container {
  min-width: $min-container-content-width;

  button.close {
    width: 28px;
    height: 28px;
    z-index: 1500;
    color: grey;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    padding: 0;
    border: 0;
    background: transparent;
    position: absolute;
    top: 5px;
    right: 10px;
    display: block;
  }

  button.close:hover {
    color: #000;
    cursor: pointer;
    background-color: lightgrey;
  }

  #menu-content {
    $gap: 0.5em;
    min-height: 500px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    margin-left: -$gap;
    margin-right: -$gap;

    #game-viewer {
      flex-grow: 1;
      flex-basis: 40%;
      min-width: $min-container-content-width;
      margin: 0 $gap;
      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      thead {
        background-color: whitesmoke;
      }

      .selected-row {
        background-color: lightgoldenrodyellow;
      }

      .joined-row {
        background-color: lightskyblue;
      }

      #game-list-table tbody tr:hover:not(.joined-row) {
        background-color: lightgrey;
      }

      .button-row {
        // simulate gap css property with negative margins on the parent container
        $btn-margin: 0.25em;

        display: flex;
        margin-left: -$btn-margin;
        margin-right: -$btn-margin;

        .btn {
          margin: $btn-margin;
        }
      }
    }

    #global-chat-container {
      margin: 0 $gap;
      flex-grow: 1;
      flex-basis: 40%;
      min-width: $min-container-content-width;
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      #global-message-box {
        flex-grow: 1;
        min-height: 250px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
      }
    }
  }
}
