.user-container {
  display: flex;
  text-align: center;
  justify-content: center;
}

#avatar-selection {
  padding: 0.5em;
  display: flex;
  flex-flow: column;
  align-items: center;

  $gap: 0.2em;
  margin-left: -$gap;
  margin-right: -$gap;

  #avatar-display {
    display: flex;
    flex-flow: row wrap;

    padding: .5em;
    max-width: 600px;

    img {
      margin: 0 $gap;
      $width: 5em;
      width: $width;
      border-radius: $width;
      border: 4px solid black;

      &.selected {
        border: 4px solid salmon;
      }
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.user-form {
  // margin: 0.4em;
  padding: 0.5em 0;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  input {
    margin: 0.3em;
  }
}

@media (max-width: 768px) {
  .user-form {
    flex-direction: column;
  }
}

.avatar-large {
  width: 10em;
}
